[user]
	email = joakim@kemeny.se
	name = Joakim Kemeny
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = mate -w
[push]
	default = simple
[pull]
	rebase = true
[credential "https://git-codecommit.eu-west-1.amazonaws.com"]
	helper = !aws codecommit --profile nevs-koro-dev --region eu-west-1 credential-helper $@
	usehttppath = true
